html{
      margin: 0;
      padding: 0;
      height: auto;
      width: 100%;
      box-sizing: border-box;
}
body{ margin: 0;
      padding: 0;
      width: 90%;
      background-color: gray
}
      
header{ margin: 0;
        padding: 0;
        height: auto;
        width: 80%;
        font-size: 32px;
        text-align: center;
        background-color: gold;
    }

span{ margin: 0 auto;
      display: block;
      height: auto;
      width: 80%;
      padding: 0;
    }

#lrg-img{ 
    display: block;
    margin: 0 auto;
    width: calc(3008px/8);
<<<<<<< HEAD
    height: auto;
    border: 50px solid red;
=======
    border: 50px solid blue;
>>>>>>> refs/remotes/origin/master
    transform: translateY(40px);
}

@media only screen and (min-width: 601px) and (max-width: 900px)
{#lrg-img{ display: block;
    margin: 0 auto;
    width: calc(3008px/8);
    border: 50px solid blue;
    transform: translateY(40px);}}
    
