html.

body{      margin: 0;
           padding: 0;
           font-size: 62.5%;
           box-sizing: border-box;
        }

body{margin: 0;
     padding: 0;
     width: 100%;
     height: 80%;
     border: soild .5 rem red;
     border-radius: .5 rem blue; 
     display: block;
        }

header{ display: block;
        margin: 0;
        padding: 0;
        

