html{
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
    
}
body{ margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      background-color: red
}
      
header{ margin: 0;
        padding: 0;
        height: auto;
        width: 80%;
        font-size: 62px;
        text-align: center;
        background-color: gold;
    }

span{ display: block;
      height: auto;
      width: 80%;
      background-color: white;
    }

#lrg-img{ display: block;
    margin: 0 auto;
    width: calc(3008px/8);
    border: 50px solid blue;
    transform: translateY(40px);
}

@media only screen and (min-width: 601px) and (max-width: 900px)
{#lrg-img{ display: block;
    margin: 0 auto;
    width: calc(3008px/8);
    border: 50px solid blue;
    transform: translateY(40px);}}